.header-bg{
    /* background-color: #1bbc9b; */
    background-image: linear-gradient(#36d1b2, #08b195);
   
    padding: 10px;
}

.logo{
    width: 130px;
  
}

.bg{
    color: black;
}
.login-btn{
   background-color: #ffa601ed;
   border: 1px solid gray;
   padding: 3px 5px;
   border-radius: 10px;
   
}
.logout-btn{
   background-color: #ffa601ed;
   border: 1px solid gray;
   padding: 3px 5px;
   border-radius: 10px;
   
}
.login-btn:hover{
    background-color: tomato;
    
}
.logout-btn:hover{
    background-color: tomato;
    
}
