.header-bg{
    /* background-color: #1bbc9b; */
    background-image: linear-gradient(#36d1b2, #08b195);
   
    padding: 10px;
}

.logo{
    width: 130px;
    height: 30px;
}
.bg{
    color: black;
}
