.banner{
    background-image: url('../../assets/image/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    margin-top: -35px;
   
    
}


.txt-cl{
    color: rgba(55, 179, 196, 0.835);
}