.contact-body{
    background-image: linear-gradient(#1a3452, #35357e);
    margin-top: -30px;
}
.contact-img{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.card-contact{
    background-color:rgb(175, 173, 170) ;
   padding: 50px;
   margin: 0px 20px;
   border-radius: 20px;
}
.card-contact:hover{
  background-color: rgba(20, 131, 20, 0.486);
  color: #ccdae9;
}